
<div class="jumbotron">
	<h1>CS340 Final Project:</h1>
	<p>This is a database created around the Marvel Universe</p>
	<ul>
		<li><a href="/view/incident">Incidents</a></li>
		<li><a href="/view/city">Citys</a></li>
		<li><a href="/view/person">Persons</a></li>
		<li><a href="/view/power">Powers</a></li>
	</ul>
</div>