{{#if error_message}}
	<p>Error Loading Content</p>
	{{error_message}}

{{else}}
	<h3>Powers <a href="/add/superpower">Add New</a></h3>
	{{#if superpower}}
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>Power Description</th>

				</tr>
			</thead>
			<tbody>
				{{#each superpower}}
					<tr>
						<td>{{spow}}</td>

					</tr>
				{{/each}}
			</tbody>
		</table>
	{{else}}
		<p>No superpowers currently in database. Click the link above to add one</p>
	{{/if}}
{{/if}}